@using Planificador.ViewModels;
@model CursadaViewModel
@{
    ViewBag.Title = "Cursada";
}
<!DOCTYPE html>
<html>
<head>
    <title>Programador de cursadas</title>
    <style>
        .text-center * {
            text-align: center;
        }
    </style>
</head>
<body>
    <div>
        <h1> Programador de cursadas </h1>

        <div id="divDatosAlumno" style="display:none">
            <table>
                <tbody>
                    <tr>
                        <td>Nombre</td>
                        <td><label id="lblNombre"></label></td>
                    </tr>
                    <tr>
                        <td>Apellido</td>
                        <td><label id="lblApellido"></label></td>
                    </tr>
                    <tr>
                        <td>Dni</td>
                        <td><label id="lblDni"></label></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="divPlanesDeEstudio" style="display: none">
            <table id="tblPlanesEstudio" class="table table-bordered text-center"></table>
        </div>

        <div id="divMateriasAprobadas" style="display: none">
            <table id="tblMateriasAprobadas" class="table table-bordered text-center"></table>
        </div>

        <div id="divMateriasPendientes" style="display: none">
            <table id="tblMateriasPendientes" class="table table-bordered text-center">
                <!--                <thead>
                <tr>
                    <th>Materia</th>
                </tr>
                </thead>
                <tbody>
                {
                foreach (var materia in Model.Materias)
                {
                <tr>
                    <td>materia.Nombre</td>
                </tr>
                }
                }
                </tbody>
                    -->
            </table>
        </div>

        <div id="divCaminoCritico" style="display: none">
            <table id="tblCaminoCritico" class="table table-bordered text-center"></table>
        </div>

        <!-- Botones para consultar vía AJAX -->

        <label>Ingrese su Nombre</label>
        <input id="txtNombreAlumno" type="text" name="nombreAlumno" value="" />
        <button id="btnObtenerDatosAlumno" class="btn btn-default">Obtener Datos</button>
        <button id="btnObtenerPlanesEstudio" class="btn btn-default">Obtener Planes de estudio</button>
        <button id="btnObtenerMateriasAprobadas" class="btn btn-default">Obtener Materias Aprobadas</button>
        <button id="btnObtenerMateriasPendientes" class="btn btn-default">Obtener Materias Pendientes</button>
        <button id="btnObtenerCaminoCritico" class="btn btn-default">Obtener Camino crítico</button>

        <input type="button" id="btnLimpiar" value="Limpiar" class="btn btn-default" onClick="window.location.reload()">


        <!--
        using (Html.BeginForm("Index", "Cursada", FormMethod.Post))
             {
             <label>Ingrese su Nombre</label>
             <input id="nombreAlumno" type="text" name="nombreAlumno" value="" />
             <input type="submit" />
         }
        -->

    </div>


    <!--Modal para los popup-->
    <div class="modal fade" id="modalPopUp" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="tituloPopUp"></h4>
                </div>
                <div class="modal-body" width="200px">
                    <p>
                        <div id="detalleModal">

                        </div>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" id="aceptarModal" class="btn btn-success btn-sm" data-dismiss="modal">Aceptar</button>
                    <!--<button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Cancelar</button>-->
                </div>
            </div>
        </div>
    </div>
</body>
</html>

@section scripts{
    
    @Scripts.Render("~/Bundles/Cursada.js");

    <script type="text/javascript">
        $(document).ready(function () {
            OcultarBotones();
            $("#btnObtenerDatosAlumno").show();
        });

        $("#modalPopUp").on("show.bs.modal", function (e) {
        });

        $('#aceptarModal').click(function (e) {
        });

        $(function () {
            $('#btnObtenerDatosAlumno').click(function (e) {
                var nombre = $('#txtNombreAlumno').val();
                var url = '@Url.Action("ObtenerDatosAlumno", "Cursada")';
                $.ajax({
                    method: "POST",
                    url: url,
                    data: { nombreAlumno: nombre },
                    dataType: 'json',
                    success: function (result) {
                        if (jQuery.isEmptyObject(result)) {
                            MostrarModal("No se ha encontrado al alumno");
                        } else {
                            CargarDatosAlumno(result.Nombre, result.Apellido, result.Dni);
                        }
                    },
                    error: function (xmlHttpRequest, textStatus, errorThrown) {
                        alert("Status: " + textStatus);
                        alert("Error: " + errorThrown);
                    }
                });
            });
        });

         $(function() {
             $('#btnObtenerPlanesEstudio').click(function(e) {
                var nombre = $('#txtNombreAlumno').val();
                var url = '@Url.Action("ObtenerPlanesDeEstudio", "Cursada")';
                $.ajax({
                    method: "POST",
                    url: url,
                    data: { nombreAlumno: nombre },
                    dataType: 'json',
                    success: function (result) {
                        if (jQuery.isEmptyObject(result)) {
                            MostrarModal("El alumno no tiene planes de estudio asignados");
                        } else {
                            console.log(result);
                            CargarPlanDeEstudio(result);
                        }
                    },
                    error: function (xmlHttpRequest, textStatus, errorThrown) {
                        //alert("Status: " + textStatus);
                        //alert("Error: " + errorThrown);
                    }
                });
            });
        });

        $(function() {
             $('#btnObtenerMateriasAprobadas').click(function(e) {
                var nombre = $('#txtNombreAlumno').val();
                var url = '@Url.Action("ObtenerHistorial", "Cursada")';
                $.ajax({
                    method: "POST",
                    url: url,
                    data: { nombreAlumno: nombre },
                    dataType: 'json',
                    success: function (result) {
                        if (jQuery.isEmptyObject(result)) {
                            MostrarModal("El alumno no tiene materias aprobadas");
                            //OcultarBotones();
                            $("#btnObtenerMateriasPendientes").show();
                        } else {
                            CargarMateriasAprobadas(result);
                        }
                    },
                    error: function (xmlHttpRequest, textStatus, errorThrown) {
                        //alert("Status: " + textStatus);
                        //alert("Error: " + errorThrown);
                    }
                });
            });
         });


        $(function() {
             $('#btnObtenerMateriasPendientes').click(function(e) {
                var nombre = $('#txtNombreAlumno').val();
                var url = '@Url.Action("ObtenerMateriasPendientes", "Cursada")';
                $.ajax({
                    method: "POST",
                    url: url,
                    data: { nombreAlumno: nombre },
                    dataType: 'json',
                    success: function (result) {
                        if (jQuery.isEmptyObject(result)) {
                            MostrarModal("El alumno no tiene materias pendientes de cursar");
                        } else {
                            CargarMateriasPendientes(result);
                        }
                    },
                    error: function (xmlHttpRequest, textStatus, errorThrown) {
                        //alert("Status: " + textStatus);
                        //alert("Error: " + errorThrown);
                    }
                });
            });
        });


      $(function() {
             $('#btnObtenerCaminoCritico').click(function(e) {
                var nombre = $('#txtNombreAlumno').val();
                var url = '@Url.Action("ObtenerCaminoCritico", "Cursada")';
                $.ajax({
                    method: "POST",
                    url: url,
                    data: { nombreAlumno: nombre },
                    dataType: 'json',
                    success: function (result) {
                        if (jQuery.isEmptyObject(result)) {
                            MostrarModal("No se pudo calcular el camino crítico");
                        } else {
                            CargarCaminoCritico(result);
                        }
                    },
                    error: function (xmlHttpRequest, textStatus, errorThrown) {
                        //alert("Status: " + textStatus);
                        //alert("Error: " + errorThrown);
                    }
                });
            });
        });

    </script>


}